<div class="container">
  <div class="row">
    <div class="col-md-9" style="width: 100%">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Dashboard</h3>
        </div>
            <div class="panel-body" >
              <div class="col-md-8" style="width: 100%">
                <div>
                  <% if Course.where(owner:  current_user).blank? %>
                    <p><span class="fa fa-close text-danger">Sie haben noch kein Kurs erfasst. <%= link_to "Kurs erstellen", new_course_path %></p>
                  <% else %>
                    <p><span class="fa fa-check text-success">Sie haben ein Kurs erstellt</span></p>
                  <% end %>
                </div>
                <div >
                  <% if Profil.where(user_id:  current_user).blank? %>
                    <p><span class="fa fa-close text-danger">Sie haben noch kein Profil erfasst. <%= link_to "Profil erstellen", new_profil_path %></p>
                  <% else %>
                    <p><span class="fa fa-check text-success">Sie haben ein Kurs erstellt</span></p>
                  <% end %>

                </div>
                <div>
                  <p><span class="fa fa-close text-danger">Sie haben noch kein Inserat erfasst. <%= link_to "Inserat erstellen", root_path %></p>
                </div>
              </div>
              <div class="col-md-8" style="width: 100%">
                <div class="progress">
                  <% if current_user.profilstatus == 0 %>
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">0% Complete</span>
                  </div>
                  <% end %>
                  <% if current_user.profilstatus == 1 %>
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
                        <span class="sr-only">33% Complete</span>
                      </div>
                  <% end %>
                  <% if current_user.profilstatus == 2 %>
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                        <span class="sr-only">66% Complete</span>
                      </div>
                  <% end %>
                  <% if current_user.profilstatus == 3 %>
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100% Complete</span>
                      </div>
                  <% end %>
                </div>
                <% if !Course.where(owner:  current_user).blank? %>
                    <form action= "<%= mycourses_path %>" style="float: left; margin-right: 10px" >
                      <button class="btn btn-primary">Meine Kurse </button>
                    </form>
                <% end %>
                <% if !Profil.where(user_id:  current_user).blank? %>
                    <form action= "<%= root_path %>" style="float: left;margin-right: 10px" >
                      <button class="btn btn-primary">Mein Profil </button>
                    </form>
                <% end %>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
