<div class="container">
  <div class="row">
    <div class="col-md-8" style="width: 100%">
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Informationen zu <%= @profil.schulname %></h4>
            <div class="btn-group pull-right">
                <% if can? :cud, @profil %>
                  <%= link_to "Profil bearbeiten", edit_profil_path(@profil) , class: 'btn btn-default btn-sm' %>
                <% end %>
            </div>     
          </div>
            <div class="panel-body">
              <div id="ldetails" class="padding_top"> 
                <table id="showcourse">
                    <tr>
                      <td><stdong>Schulname:</stdong></td>
                      <td><%= @profil.schulname %></td>
                    </tr>

                    <tr>
                      <td><stdong>Standort:</stdong></td>
                      <td><%= @profil.standort %></td>
                    </tr>

                    <tr>
                      <td><stdong>Fachbereich:</stdong></td>
                      <td><%= @profil.fachbereich %></td>
                    </tr>


                    <tr>
                      <td><stdong>Info:</stdong></td>
                      <td><%= @profil.info %></td>
                    </tr>

                    <tr>
                      <td><stdong>Link:</stdong></td>
                      <td><%= @profil.link %></td>
                    </tr>
                    <tr>
                      <td><stdong>Bild:</stdong></td>
                      <td><%= image_tag @profil.image_url(:thumb) if @profil.image? %></td>
                    </tr>
                  </table>
                </div>
              </div>
      </div>
    </div>
  </div>
</div>

