<%= form_for @course, :html => {:multipart => true} do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="rdetails"> 
  <div class="field">
    <%= f.label :titel %><br>
    <%= f.text_field :titel %>
  </div>
  <div class="field">
    <%= f.label :kurstyp %><br>
    <%= f.select :kurstyp, options_for_select(%w[MAS EMBA DAS CAS Kurs Fachtagung Infoveranstaltung]) %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :anbieter %><br>
    <%= f.text_field :anbieter %>
  </div>
  <div class="field">
    <%= f.label :ort %><br>
    <%= f.text_field :ort %>
  </div>
  <div class="field">
    <%= f.label :preis %><br>
    <%= f.number_field :preis %>
  </div>
  <div class="field">
    <%= image_tag @course.image_url(:thumb) if @course.image? %>  
    <%= f.file_field :image %>
  </div>  
 </div>
 <div id="ldetails"> 
  <div class="field">
    <%= f.label :zielpublikum %><br>
    <%= f.text_field :zielpublikum %>
  </div>
  <div class="field">
    <%= f.label :zulassung %><br>
    <%= f.text_field :zulassung %>
  </div>
  <div class="field">
    <%= f.label :abschluss %><br>
    <%= f.text_field :abschluss %>
  </div>
  <div class="field">
    <%= f.label "Weiterführende Informationen" %><br>
    <%= f.url_field :info %>
  </div>
  <div class="field">
    <%= f.label :leitung %><br>
    <%= f.text_field :leitung %>
  </div>
  <div class="field">
    <%= f.label :kontakt %><br>
    <%= f.email_field :kontakt %>
  </div>
  <div class="field">
    <%= f.label :inhalt %><br>
    <%= f.text_area :inhalt %>
  </div>  
 </div> 
<div id="bdetails"> 
  <div class="actions">
    <%= f.submit %>
  </div>
</div>  
<% end %>
