<%= form_for @course, :html => {:multipart => true} do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titel %><br>
    <%= f.text_field :titel %>
  </div>
  <div class="field">
    <%= f.label :kurstyp %><br>
    <%= f.text_field :kurstyp %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :anbieter %><br>
    <%= f.text_field :anbieter %>
  </div>
  <div class="field">
    <%= f.label :ort %><br>
    <%= f.text_field :ort %>
  </div>
  <div class="field">
    <%= f.label :preis %><br>
    <%= f.number_field :preis %>
  </div>
  <div class="field">
    <%= f.label :inhalt %><br>
    <%= f.text_field :inhalt %>
  </div>
  <div class="field">
    <%= f.label :zielpublikum %><br>
    <%= f.text_field :zielpublikum %>
  </div>
  <div class="field">
    <%= f.label :zulassung %><br>
    <%= f.text_field :zulassung %>
  </div>
  <div class="field">
    <%= f.label :abschluss %><br>
    <%= f.text_field :abschluss %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_field :info %>
  </div>
  <div class="field">
    <%= f.label :leitung %><br>
    <%= f.text_field :leitung %>
  </div>
  <div class="field">
    <%= f.label :kontakt %><br>
    <%= f.text_field :kontakt %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
