<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @course.titel %>
</p>

<p>
  <strong>Kurstyp:</strong>
  <%= @course.kurstyp %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>

<p>
  <strong>Anbieter:</strong>
  <%= @course.anbieter %>
</p>

<p>
  <strong>Ort:</strong>
  <%= @course.ort %>
</p>

<p>
  <strong>Preis:</strong>
  <%= @course.preis %>
</p>

<p>
  <strong>Inhalt:</strong>
  <%= @course.inhalt %>
</p>

<p>
  <strong>Zielpublikum:</strong>
  <%= @course.zielpublikum %>
</p>

<p>
  <strong>Zulassung:</strong>
  <%= @course.zulassung %>
</p>

<p>
  <strong>Abschluss:</strong>
  <%= @course.abschluss %>
</p>

<p>
  <strong>Info:</strong>
  <%= @course.info %>
</p>

<p>
  <strong>Leitung:</strong>
  <%= @course.leitung %>
</p>

<p>
  <strong>Kontakt:</strong>
  <%= @course.kontakt %>
</p>

<p>
  <strong>Image:</strong> <br />
  <%= image_tag @course.image_url(:thumb) if @course.image? %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
