<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Promoter:</strong>
  <%= @course.promoter %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course.location %>
</p>

<p>
  <strong>Kanton:</strong>
  <%= @course.kanton %>
</p>

<p>
  <strong>Country:</strong>
  <%= @course.country %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @course.mode %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @course.certificate %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Image:</strong> <br />
  <%= image_tag @course.image_url(:thumb) if @course.image? %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @course.detail %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
