<p id="notice"><%= notice %></p>
<div id="title_pdf">
  <h2>Kurs: <%= @course.titel %>
    <span><%= link_to "PDF speichern", course_path(@course, :format => 'pdf'), class: 'btn btn-default' %></span>
  </h2>  
</div>
 

<div id="rdetails" class="padding_top"> 
  <p>
    <strong>Kurstyp:</strong>
    <%= @course.kurstyp %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= @course.start.strftime("%v") %>
  </p>

  <p>
    <strong>Anbieter:</strong>
    <%= @course.anbieter %>
  </p>

  <p>
    <strong>Leitung:</strong>
    <%= @course.leitung %>
  </p>  

  <p>
    <strong>Ort:</strong>
    <%= @course.ort %>
  </p>

  <p>
    <strong>Preis:</strong>
    <%= number_to_currency(@course.preis, locale: :ch) %>
  </p> 
  <p class="padding_top">
    <strong>Bild:</strong> <br />
    <%= image_tag @course.image_url(:thumb) if @course.image? %>
  </p>   
</div>

<div id="ldetails" class="padding_top">
  <p>
    <strong>Zielpublikum:</strong>
    <%= @course.zielpublikum %>
  </p>

  <p>
    <strong>Zulassung:</strong>
    <%= @course.zulassung %>
  </p>

  <p>
    <strong>Abschluss:</strong>
    <%= @course.abschluss %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= link_to 'Link', url_protocol(@course.info), target: '_blank' %>
  </p>

  <p>
    <strong>Kontakt:</strong>
    <%= mail_to @course.kontakt %>
  </p> 
  <p class="padding_top">
    <strong>Inhalt:</strong>
    <%=simple_format h @course.inhalt %>
  </p>   
</div>


<div id="bdetails">
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_course_path(@course) %> |
    <%= link_to 'Back', courses_path %> 
  <% end %>  
</div>

