<!--<p id="notice"><%= notice %></p>-->
<div class="container">
      <div class="row">
        <div class="col-md-8" style="width: 100%">
          <div class="panel panel-primary">        
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Kursinformationen zum Kurs <%= @course.titel %></h4>
                <div class="btn-group pull-right">
                  <%= link_to "PDF speichern", course_path(@course, :format => 'pdf'), class: 'btn btn-default btn-sm ' %>
                  <% if can? :cud, @course %>
                    <%= link_to "Kurs bearbeiten", edit_course_path(@course) , class: 'btn btn-default btn-sm' %>
                  <% end %>
                </div>               
            </div>
             <div class="panel-body" >
                  <div id="rdetails" class="padding_top"> 
                    <table id="showcourse">
                      <tr>
                        <td><strong>Kurstyp:</strong></td>
                        <td><%= @course.kurstyp %></td>
                      </tr>
                    
                      <tr>
                        <td><strong>Start:</strong></td>
                        <td><%= @course.start.strftime("%v") %></td>
                      </tr>

                      <tr>
                        <td><strong>Anbieter:</strong></td>
                        <td><%= @course.anbieter %></td>
                      </tr>

                      <tr>
                        <td><strong>Leitung:</strong></td>
                        <td><%= @course.leitung %></td>
                      </tr> 

                      <tr>
                        <td><strong>Ort:</strong></td>
                        <td><%= @course.ort %></td>
                      </tr>

                      <tr>
                        <td><strong>Preis:</strong></td>
                        <td><%= number_to_currency(@course.preis, locale: :ch) %></td>
                      </tr>
                    </table> 
                    <p class="padding_top">
                      <strong>Bild:</strong> <br />
                      <%= image_tag @course.image_url(:thumb) if @course.image? %>
                    </p>   
                  </div>

                  <div id="ldetails" class="padding_top">
                    <table id="showcourse">
                      <tr>
                        <td><strong>Zielpublikum:</strong></td>
                        <td><%= @course.zielpublikum %></td>
                      </tr>

                      <tr>
                        <td><strong>Zulassung:</strong></td>
                        <td><%= @course.zulassung %></td>
                      </tr>

                      <tr>
                        <td><strong>Abschluss:</strong></td>
                        <td><%= @course.abschluss %></td>
                      </tr>

                      <tr>
                        <td><strong>Info:</strong></td>
                        <td><%= link_to 'Link', url_protocol(@course.info), target: '_blank' %></td>
                      </tr>

                      <tr>
                        <td><strong>Kontakt:</strong></td>
                        <td><%= mail_to @course.kontakt %></td>

                      </tr>
                      <tr><td></td></tr>
                    </table>
                      <p class="padding_top">
                        <strong>Inhalt:</strong>
                        <%=simple_format h @course.inhalt %>
                      </p>   
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  

