<nav class="navbar navstyle navbar-default navbar-fixed-top" role="navigation" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= image_tag("fhlogo.png")%></li>
        <li><%= link_to "Startseite", root_path %></li>
        <li><%= link_to "Kursübersicht", courses_path %></li>
        <li><%= link_to "Fachhochschulen", profils_path %></li>
        <li>
          <form action ="<%= courses_path %>" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="search" id="stext">
            </div>
            <button type="submit" class="btn btn-primary" id="sbutton"><span class="fa fa-search"></span></button>
          </form>
        </li>             
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <form action= "<%= new_user_session_path %>" >
              <button class="btn btn-primary dropdown-toggle navbar-btn" data-toggle="dropdown"><%= current_user.email %><span class="caret"></span></button>
               <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Dashboard", dashboard_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Mein Profil", myprofil_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Meine Kurse", mycourses_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Neuen Kurs eintragen", new_course_path %></li> 
              </ul>
            </form>
          </li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          
          <li>
            <form action= "<%= new_user_session_path %>" >
              <button class="btn btn-primary navbar-btn">Login</button>
            </form>
          </li>         
        <% end %>
      </ul>
    </div>
  </div>
</nav>