<div id="siteAds">
  <% @siteAds = randomAds %>
  <% @adpictures = getImageAd(@siteAds)%>
    <div id ="ad1" class="border-form-div" style="margin-top: 20px;">
      <% if @adpictures[0] == "placeholder" %>
        <p>Hier könnte Ihre <br> Werbung stehen!</p>
      <% else %>
        <%= image_tag(@adpictures[0])  %>
      <% end %>
    </div>
    <div id ="ad2" class="border-form-div" style="margin-top: 20px;">
      <% if @adpictures[1] == "placeholder" %>
        <p>Hier könnte Ihre <br> Werbung stehen!</p>
      <% else %>
        <%= image_tag(@adpictures[1])  %>
      <% end %>

    </div>
    <div id ="ad3" class="border-form-div" style="margin-top: 20px;">
      <% if @adpictures[2] == "placeholder" %>
        <p>Hier könnte Ihre <br> Werbung stehen!</p>
      <% else %>
        <%= image_tag(@adpictures[2])  %>
      <% end %>

    </div>
    <div id ="ad4" class="border-form-div" style="margin-top: 20px;">
      <% if @adpictures[3] == "placeholder" %>
        <p>Hier könnte Ihre <br> Werbung stehen!</p>
      <% else %>
        <%= image_tag(@adpictures[3])  %>
      <% end %>

    </div>
    <div id ="ad5" class="border-form-div" style="margin-top: 20px;">
      <% if @adpictures[4] == "placeholder" %>
        <p>Hier könnte Ihre <br> Werbung stehen!</p>
      <% else %>
        <%= image_tag(@adpictures[4])  %>
      <% end %>

    </div>
    <div id ="ad5" class="border-form-div" style="margin-top: 20px;">
      <% if @adpictures[5] == "placeholder" %>
        <p>Hier könnte Ihre <br> Werbung stehen!</p>
      <% else %>
        <%= image_tag(@adpictures[5])  %>
      <% end %>

    </div>
    <div id ="ad5" class="border-form-div" style="margin-top: 20px;">
      <% if @adpictures[6] == "placeholder" %>
        <p>Hier könnte Ihre <br> Werbung stehen!</p>
      <% else %>
        <%= image_tag(@adpictures[6])  %>
      <% end %>

    </div>
    <div id ="ad5" class="border-form-div" style="margin-top: 20px;">
      <% if @adpictures[7] == "placeholder" %>
        <p>Hier könnte Ihre <br> Werbung stehen!</p>
      <% else %>
        <%= image_tag(@adpictures[7])  %>
      <% end %>

    </div>

</div>