<div id="siteAds">
    <div class="border-form-div" style="margin-top: 20px;">
      <%= image_tag("fhbern.png")  %>

    </div>
    <div class="border-form-div" style="margin-top: 20px;">
      <%= image_tag("fhnw.png")  %>

    </div>
    <div class="border-form-div" style="margin-top: 20px;">
      <%= image_tag("fhbern.png")  %>

    </div>
    <div class="border-form-div" style="margin-top: 20px;">
      <%= image_tag("fhnw.png")  %>

    </div>
    <div class="border-form-div" style="margin-top: 20px;">
      <%= image_tag("fhbern.png")  %>

    </div>
</div>