<!DOCTYPE html>
<html>
 <head>
  <title>Kursübersicht Schweiz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--<%= favicon_link_tag 'http://www.fachhochschulen.info/favicon.ico' %> -->
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
 </head>
 <body>
  <div id="wrapper">
        <%= render 'layouts/navigation' %>
        <div class ="content">
        <%= yield %>           
        </div>
        <%= render 'layouts/footer' %>

  </div>
 </body>
</html>